{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block content %}

    <div class="container">
        <h1>Hello World</h1>

    </div> <!-- /container -->

	<div id="fb-root"></div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="lib/jquery.form.js"></script>
  	<script type="text/javascript" src="lib/al/alfb.js"></script>
  	<script type="text/javascript" src="js/login.js"></script>
{% endblock %}
